html,
body,
.box .content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: pink;
}

.box {
	width: 300px;
	height: 300px;
	box-sizing: border-box;
	padding: 15px;
	position: relative;
	overflow: hidden;
}

.box::before {
	content: '';
	position: absolute;
	width: 150%;
	height: 150%;
	background: repeating-linear-gradient(
			white 0%,
			white 7.5px,
			hotpink 7.5px,
			hotpink 15px,
			white 15px,
			white 22.5px,
			hotpink 22.5px,
			hotpink 30px);
	transform: translateX(-20%) translateY(-20%) rotate(-45deg);
	animation: animate 20s linear infinite;
}

.box .content {
	position: relative;
	background-color: white;
	flex-direction: column;
	box-sizing: border-box;
	padding: 30px;
	text-align: center;
	font-family: sans-serif;
	z-index: 2;
}

.box,
.box .content {
	box-shadow: 0 0 2px deeppink,
				0 0 5px rgba(0, 0, 0, 1),
				inset 0 0 5px rgba(0, 0, 0, 1);
	border-radius: 10px;
}

.box .content h2 {
	color: deeppink;
}

@keyframes animate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}

.progress {
	width: 300px;
	height: 20px;
	background: #fff;
	margin: 0 20px;
	border-radius: 20px;
	box-shadow: 0 0 2px deeppink,
	0 0 5px rgba(0, 0, 0, 1),
	inset 0 0 5px rgba(0, 0, 0, 1);
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.progress::before {
	content: '';
	position: absolute;
	width: 75%;
	height: 300px;
	left: 50%;
	top: 50%;
	background: repeating-linear-gradient(
		white 0%,
		white 7.5px,
		hotpink 7.5px,
		hotpink 15px,
		white 15px,
		white 22.5px,
		hotpink 22.5px,
		hotpink 30px);
	transform: translate(-50%,-50%) rotate(-45deg);
	animation: animate 20s linear infinite;
}

.ball {
	width: 300px;
	height: 300px;
	background: #fff;
	margin: 0 20px;
	border-radius: 100%;
	box-shadow: 0 0 2px deeppink,
	0 0 5px rgba(0, 0, 0, 1),
	inset 0 0 5px rgba(0, 0, 0, 1);
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}
.ball::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		white 0%,
		white 7.5px,
		hotpink 7.5px,
		hotpink 15px,
		white 15px,
		white 22.5px,
		hotpink 22.5px,
		hotpink 30px);
	animation: animate 20s linear infinite;
}
